<!DOCTYPE html>
<!-- To use thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header.html"></head>

<body>
    <div th:include="fragments/navigation.html"></div>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h2>Add transaction</h2>
                <div th:include="fragments/back.html"></div>
                <form th:action="@{/transaction}" th:object="${transaction}" method="post" class="form">

                    <div class="row mb-3 mt-3">
                        <div class="col">

                            <!-- Amount -->
                            <label for="amount">Amount:</label>
                            <input class="form-control" type="number" th:field="*{amount}">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('amount')}"
                                th:errors="*{amount}">
                            </div>

                            <!-- Transfer method -->
                            <label for="transferMethod">Transfer method:</label>
                            <select class="form-control" th:field="*{transferMethod}" id="transferMethod">
                                <option value="deposit">Deposit</option>
                                <option value="withdraw">Withdraw</option>
                            </select>

                            <!-- Date -->
                            <label for="date">Date:</label>
                            <input type="date" class="datepicker form-control" th:field="*{date}" id="datepicker"
                                th:value="${transaction.date}" />

                            <!-- Customer -->
                            <label for="customer">Customer:</label>
                            <select class="form-control" th:field="*{customer}" id="customer">
                                <option th:each="customer : ${customers}" th:value="${customer.id}"
                                    th:text="${customer.email}">
                                </option>
                            </select>
                        </div>

                        <div class="col">
                            <!-- Message -->
                            <label for="message">Message:</label>
                            <textarea class="form-control" cols="30" rows="10" th:field="*{message}"></textarea>
                        </div>
                        
                    </div>

                    <div class="row">

                    </div>
                    <div class="col">
                        <input type="submit" name="submit" value="Submit" class="btn btn-success">
                        <input type="reset" name="reset" value="Reset" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>